# This is a weird way of telling Travis to use the fast container-based test
# runner instead of the slow VM-based runner.
sudo: false

language: go

# Only the last two Go releases are supported by the Go team with security
# updates. Any older versions be considered deprecated. Don't bother testing
# with them.
go:
  - 1.9.x

# Enable testing on specific operating system
os:
  - linux

# Only clone the most recent commit.
git:
  depth: 1


# install additional dependencies required by your project such as Ubuntu packages or custom services
before_install:
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
  - go get golang.org/x/tools/cmd/goimports
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

# install any dependencies required
install:
  - dep ensure

# Don't email me the results of the test runs.
notifications:
  email: false

# Anything in before_script that returns a nonzero exit code will flunk the
# build and immediately stop. It's sorta like having set -e enabled in bash.
# Make sure golangci-lint is vendored by running
#   dep ensure -add github.com/golangci/golangci-lint/cmd/golangci-lint
# ...and adding this to your Gopkg.toml file.
#   required = ["github.com/golangci/golangci-lint/cmd/golangci-lint"]
before_script:
#  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b $GOPATH/bin v1.10.1

# run the build script
# script always runs to completion (set +e). If we have linter issues AND a
# failing test, we want to see both. Configure golangci-lint with a
# .golangci.yml file at the top level of your repo.
script:
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then bash ./travis/run_on_pull_requests; fi'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash ./travis/run_on_non_pull_requests; fi'

# additional steps when your build succeeds (such as building documentation, or deploying to a custom server)
# after_success:

# additional steps when your build fails  (such as uploading log files)
# after_failure:

env:
  global:
    secure: f9GDwoky2lszRflg1fPGitmAV++ey1cKG16NlSwE+0kk1SU7W0gtY2ne8bnjZ9AHf0lFaVXQamVo8BiDGGIh7WGYDzBEosSe8v3ltCe+lOHeAM1IMJiluZC5OvAg0gpKiymirgbao+1UjXvwMNb++vofNjMKoW+esGAAmPQqDdqk8D9aK0UH3GKkkgvIDYZvx9dnGFK60lN3hoMPdh7SfQxweOHVM2rCXGFIT+LaOraofDv9dTKtcrgezCCXgsjnYP7rQ8QFDuem9SGxmh5TSWh5df99zedpLAxeAbm9q0IUazpVUHFh5JCfin8jUIKCBH0roYVLK06a8xtXGlWQQ4dGWehFjHUfJE9f77uUZPnZQCZaZnBk+CiSBPkjhjjtR1dnZzz9w//G5dgc8DOOxKBuNXV3fJK0LdghciWFo6kPHf+4bPFp8TD1XnhqOjEF4vz6cZoufLn7RpfRrBp5/5Wda9qsf3TcA18CHE4Fg7dUJdG+xXm/4Yh0370kclkxGJDfTiq4APJFlCnzJ6w4p6Q2ONZsafzolYsoh/fabuoSzYg9bkDlxkQPzmVVeNy8Ff0h8InFThCaLRKSmg8/n4vOUobsv2ngMiKJ+hcwaIo6r8+UtTjOoIAoHyF0WaN4Aw6otz5c6VeQoZrc+WiOtMv441xx3EFmpV5GL3YTtF8=